@using FridgeContents.Models

@{
    ViewBag.Title = "Home Page";
}

<div>

</div>

<div class="text-center">
    @{
        var Data = ViewBag.Model; 
    }

    <h1>@Data.Hylly1</h1>
    <h1>@Data.Hylly2</h1>
    <h1>@Data.Hylly3</h1>
    <h1>@Data.Hylly4</h1>
    
</div>